body {
  margin: 0;
  padding: 0;
  background-color: #e1e1e9;
}

.container-lg {
  height: 2000px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a,
.btn {
  background: lavender;
  margin: 0.5rem;
  border: none;
  color: black;
 
}

#dev_ing,
#mots_fleches,
#switch_langues,
#plus,
#mp, .btn {
  font-family: 'Spartan', sans-serif;
  font-weight: 300;
}

#mp,
#switch_langues,
#mots_fleches,
#dev_ing {
  position: sticky;
  top: 30px;
}

#dev_ing {
  top: 100px;
}

#switch_langues_fr,
#switch_langues_en {
  margin: 2rem;
}

#contactButton,
a {
  background: none;
}

#row_1 {
  height: 35%;
}

#row_2 {
  height: 5%;
}

#aproposButton {
  height: 40%;
  width:50%;
  position:relative;
  margin:auto;
}

#contactButton{
  height:20%;
}

#row_3 {
  height: 10%;
}

#row_4 {
  height: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25% 25% 25% 25%;
  justify-items: stretch;
  grid-gap: 2%;
  grid-template-areas:
    "F F Langages Langages"
    "E E H H "
    "D D Logiciels Logiciels"
    "Langues Langues A A";

}

#experiencesButton {
  grid-area: E;
  clip-path: polygon(40% 0, 5% 100%, 90% 100%);
  margin-top: -10%;
}

#labelExperiences{
  position: relative;
  top:10%;
  right:5%;
}

#langagesButton {
  grid-area: Langages;
  clip-path: polygon(5% 2%, 70% 100%, 60% 10%);
  height: 130%;
}

#labelLangages {
  position: relative;
  bottom:15%;
  right:3%;
}

#formationsButton {
  grid-area: F;
  clip-path: polygon(50% 0%, 1% 35%, 50% 97%);
  margin-left: 53%;
  height: 140%;
}

#labelFormations {
  position: relative;
  right:15%;
  bottom:8%;
}

#hobbiesButton {
  grid-area: H;
  clip-path: polygon(0% 0%, 0% 100%, 70% 100%);
  margin-top: -22%;
  height: 140%;
}

#labelHobbies{
  position:relative;
  right:30%;
  top:20%;
}

#labelHobbies {
  position: relative;
  margin-top: 30%;
}

#languesButton {
  grid-area: Langues;
  clip-path: polygon(5% 0, 31% 77%, 85% 77%);
  margin-top: -25%;
  height: 130%;
}

#labelLangues{
  position:relative;
  margin-right:30%;
}

#diplomesButton {
  grid-area: D;
  clip-path: polygon(5% 0, 90% 70%, 72% 0);
  margin-top: -3%;
  height: 160%;
}

#labelDiplomes{
  position:relative;
  left:10%;
  bottom:30%;
}

#associationsButton {
  grid-area: A;
  clip-path: polygon(60% 75%, 0% 95%, 69% 0);
  margin-top: -36%;
  height: 140%;
}

#labelAssociations{
  position:relative;
  top:5%;
  right:2%;
}

#logicielsButton {
  grid-area: Logiciels;
  clip-path: polygon(70% 0, 15% 100%, 0 0);
  margin-left: -11%;
  margin-top: -3%;
}

#labelLogiciels{
  position:relative;
  right:25%;
  bottom:15%;
}

#row_5 {
  height: 5%;
}

img {
  width: inherit;
  position: absolute;
}


/* bouton "en savoir plus" / "discover more" */
#plus {
  animation: 1.5s infinite;
  animation-name: glissement;
}

@keyframes glissement {
  from {
    transform: scale(1)
  }

  50% {
    transform: scale(1.15)
  }

  to {
    transform: scale(1)
  }
}


li {
  list-style-type: none;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.btn {
  width: 100%;
  height: 100%;
  margin-left:9%;
}

.btn:active.after{
  color:lawngreen;
}