img{
    width:inherit;
    position: absolute;
    }

body{
  margin: 0;
  padding: 0;
  background-color:#e4e3f2;
}

html{
  font-family:'Montserrat', sans-serif;
}
  
.container{
  color: #212c2c;
}


